# --- System / OS Specific ---
.DS_Store
Thumbs.db
.history/

# --- Python & Byte-code ---
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
*.egg-info/
*.egg
MANIFEST
.installed.cfg

# --- Environments & Package Managers ---
.venv/
venv/
env/
ENV/
**/node_modules/
package-lock.json

# --- Project Specific Data & Outputs ---
out/
wandb/
checkpoints/
.cache
.pytest_cache/
.ruff_cache/
.pre-commit-cache/

# --- Documentation & Plots ---
api-docs/
docs/api/build/
# Ignore all PDFs (Posters/Manuscripts) 
# Usually better to build these locally
*.pdf

# --- Coverage / Testing ---
.coverage
htmlcov/
.noseresults
nosetests.xml
coverage.xml
*.cover

# --- Editors (VS Code) ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
